# Adds a comment to a newly opened PR letting reviewers know what should be
# included in their review.
name: Add a comment with reviewer checklist when PR opened

on:
  # Use pull_request_target because we want it to work when PRs are from forks
  # see https://runs-on.com/github-actions/pull-request-vs-pull-request-target/
  pull_request_target:
    types: [opened]

permissions:
  pull-requests: write

jobs:
  pr-checklist:
    runs-on: ubuntu-latest
    name: pr-checklist
    steps:
      - name: Find Comment
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: 'Instructions for code reviewer'

      - name: 'Append Reviewer Checklist to comment'
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ___
            # Instructions for code reviewer

            :wave:Hello reviewer:wave:, thank you for taking the time to review this PR!

            - Please use this checklist during your review, checking off items that you have verified are complete but feel free to skip over items that are not relevant!
            - See the [GitHub documentation for how to comment on a PR](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/commenting-on-a-pull-request) to indicate where you have questions or changes are needed before approving the PR.
            - Please use standard [conventional messages](https://www.conventionalcommits.org/) for both commit messages and comments.
            - PR reviews are a great way to learn so feel free to share your tips and tricks. However, when suggesting changes to the PR that are optional please include `nit:` (for nitpicking) as the comment type. For example, `nit:` I prefer using a `data.frame()` instead of a `matrix` because ...
            - Engage with the developer. Make it clear when the PR is approved by selecting the approved status, and potentially by commenting on the PR with something like `This PR is now ready to be merged.`.

            ## Checklist

            - [ ] The PR requests the appropriate base branch (dev for features and main for hot fixes).
            - [ ] The code is designed well for both users and developers.
            - [ ] Code coverage remains high.
            - [ ] Comments are clear, useful, and explain why instead of what.
            - [ ] Code is appropriately documented (doxygen and roxygen).
          edit-mode: append
