name: Change Issue Label on PR Merge

on:
  workflow_dispatch:
  # Use pull_request_target because we want it to work when PRs are from forks
  # see https://runs-on.com/github-actions/pull-request-vs-pull-request-target/
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main
      - dev

jobs:
  get-linked-issues:
    name: Get linked issues
    runs-on: ubuntu-latest
    steps:
      - name: Get issues
        id: get-issues
        uses: mondeja/pr-linked-issues-action@v2
        with:
          repository_owner: NOAA-FIMS
          repository_name: FIMS
          pull_request: 57
          add_links_by_content: |
            Closes #{issue_number}
            closes #{issue_number}
            Close #{issue_number}
            close #{issue_number}
            :wrench: {issue_number}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Print linked issue numbers
        run: echo ${{ steps.get-issues.outputs.issues }}
